@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 text-gray-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}



::-webkit-scrollbar {
  display: none;
}


html {
  scrollbar-width: none;
}


body {
  -ms-overflow-style: none;
}
